* {
  margin: 0;
  padding: 0;
}
.cart-allProducts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.cart-card {
  height: 5rem;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  justify-content: space-between;
}
